.beneficios {
	display: flex;
	flex-direction: column;
	background-color: var(--green-5);
}

.beneficios form {
	text-align: center;
	padding: 0 0 3rem;
}
.beneficios form h2 {
	margin-bottom: 3rem;
}

.beneficios #cadastro {
	border-radius: 3px;
	background-color: var(--green-3);
	color: var(--green-1);
	border: none;
	padding: 15px 60px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out 0s;
	border: 1px solid var(--green-1);
}
.beneficios #cadastro:hover {
	color: var(--grey-3);
	background-color: var(--green-4);
	border: 1px solid var(--green-1);
}
.lista-beneficios {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 4rem 0 0;
}

.beneficio {
	text-align: center;
	font-weight: 600;
}

.beneficio img {
	width: 100%;
	max-width: 366px;
	margin-bottom: 15px;
	border-radius: 4px;
	border: 1px solid var(--green-4);
}

.beneficio p {
	margin: 0;
}
@media screen and (max-width: 1025px) {
	.lista-beneficios {
		padding: 0;
	}
}
@media screen and (max-width: 400px) {
	.lista-beneficios {
		gap: 0;
	}
	.beneficio img {
		max-width: 5rem;
	}
	.beneficios #cadastro {
		padding: 15px 40px;
	}
}
