.cadastro {
	background-color: var(--green-5);
	padding-bottom: 29rem;
}

.container-section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cadastro form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	margin-top: 2rem;
}

.cadastro p {
	margin: 0;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-end;
}

.cadastro input[type='text'],
.cadastro input[type='number'] {
	padding: 10px;
	border: 1px solid #8bc34a;
	border-radius: 4px;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.cadastro #enviar-cadastro {
	margin-top: 1rem;
	align-self: flex-end;
	border-radius: 3px;
	background-color: var(--green-3);
	color: var(--black-1);
	border: none;
	padding: 10px 20px;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	transition: 0.2s ease-in-out 0s;
	border: 1px solid var(--grey-4);
}

.cadastro #enviar-cadastro:hover {
	color: var(--grey-3);
	background-color: var(--green-4);
	border: 1px solid var(--grey-4);
}
@media screen and (max-width: 1025px) {
	.cadastro {
		padding-bottom: 5rem;
	}
}
