.carrousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 0;
}

.caroussel {
    width: 700px;
    overflow: hidden;
    border-radius: 3px;
}

.image-container {
    display: flex;
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.image-container img {
    width: 20%;
    height: auto;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.prev-button,
.next-button {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border-radius: 3px;
    margin-top: 5px;
}

.prev-button:hover,
.next-button:hover {
    background-color: #555;
}