.ervas-medicinais {
	background-color: #c5e1a5;
}

.ervas-medicinais ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	padding: 2rem 0 0;
}

.ervas-medicinais li {
	text-align: center;
	margin-top: 1rem;
	text-align: left;
}
.ervas-medicinais h3 {
	margin: 10px 0px 5px;
}
.ervas-medicinais p {
	margin-top: 0px;
}

.ervas-medicinais li img {
	width: 100%;
	height: auto;
	border-radius: 4px;
	border: 1px solid #8bc34a;
	object-fit: cover;
}

@media screen and (max-width: 1025px) {
	.ervas-medicinais ul {
		grid-template-columns: repeat(2, 1fr);
		padding: 1rem;
	}
}
