@import url('normalize.css');
@import url('header.css');
@import url('beneficios.css');
@import url('video.css');
@import url('ervas.css');
@import url('local.css');
@import url('cadastro.css');
@import url('footer.css');
@import url('burguer.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap');

:root {
	--green-1: #172c00;
	--green-2: #8bc34a;
	--green-3: #dcedc8;
	--green-4: #33691e;
	--green-5: #c5e1a5;
	--grey-1: #f5f2f0;
	--grey-2: #9c9c9c;
	--grey-3: #f1f8e9;
	--grey-4: #404040;
	--grey-5: #dedede;
	--black-1: #1a1a1a;
	--black-2: #2e2e2e;
	--green-alfa-1: rgba(220, 237, 200, 1);
	--green-alfa-2: rgba(220, 237, 200, 0.5);
	--green-alfa-3: rgba(23, 44, 0, 0.2);
}

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 1rem;
}
body {
	font-family: 'Roboto', sans-serif;
	color: var(--green-1);
}
.container {
	margin: auto;
	display: flex;
	flex-direction: column;
	max-width: 1530px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section {
	width: 100%;
	padding: 3rem 0;
	border-bottom: 1px dotted var(--green-1);
}
.container-section {
	padding: 0 10rem;
}
h1,
h2,
h3 {
	font-family: 'Libre Baskerville', serif;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-weight: 400;
	border-top: 1px dotted var(--green-1);
	border-bottom: 1px dotted var(--green-1);
	font-size: 2rem;
	text-align: center;
	padding: 2rem 0;
	margin: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
/* .container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'. . .'
		'. . .';
}
 */
@media screen and (max-width: 1025px) {
	.container-section {
		padding: 0 1rem;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}
